.week_body {
  box-sizing: border-box;
  padding: 10px 20px;

  .card {
    display: flex;
    margin-bottom: 20px;

    .date {
      margin-right: 10px;
    }

    .content {
      flex: 1 1 auto;
    }
  }
}