.card {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  background: rgba(47, 59, 166, 1);
  color: rgba(241, 243, 245, 1);
  border-radius: 4px;
  
  .day {
    font-weight: 700;
  }

  .weekday {
    margin-bottom: 5px;
    font-weight: 600;
  }
}