.todo_card {
  box-sizing: border-box;
  border-radius: 8px;
  background: rgba(240, 244, 247, 1);
  padding: 5px 10px;

  .top {
    display: flex;
    align-items: center;
    padding: 10px;

    .title {
      font-size: 18px;
      font-weight: 700;
      color: rgba(0, 0, 0, 1);
    }

    .state {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
  

  .content {
    font-size: 15px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    padding: 10px;
  }

  .divider {
    margin: 0 auto;
    width: calc(100% - 10px);
    border-bottom: 0.25px solid rgba(0, 0, 0, 0.3);
  }
}