.week_nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 380px;
	background: rgba(63, 66, 195, 1);
	color: rgba(255, 255, 255, 1);
	box-sizing: border-box;
	padding: 15px 20px;
	

	.back_btn {
    margin-right: auto;
  }

	.note_btn {
		margin-left: auto;
	}
}

